<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
   <title>Global Steel Suppliers & Manufacturers | Mining - Tata Group</title>
</head>

<body>
   <div class="wrapper-page">
      <div class="panel panel-color panel-primary panel-pages">
         <div class="panel-heading rm08 text-center">
            <a href="index.html"><img src="assets/images/logo-blue.png" alt=""></a>
         </div>
         <div class="panel-body">
            <form class="form-horizontal m-t-20" [formGroup]="adminLoginForm" (ngSubmit)="submitLogin()">
               <div class="form-group">
                  <div class="col-xs-12">
                     <input class="form-control input-lg mb-3" formControlName="email" type="text" required=""
                        placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                     <!-- <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched || submitted)">
                        <small class="text-danger">
                           Username is required
                        </small>
                     </div> -->
                     <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                    </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-12">
                     <!-- <input class="form-control input-lg mb-3" formControlName="password" type="password" required=""
                        placeholder="Password"> -->
                        <div class="input-group mx-auto">
                           <input name="password" formControlName="password"
                               [type]="showPassword ? 'text' : 'password'"
                               class="form-control pwd-control"
                               id="password-field" placeholder="Password">
                           <div class="eye_show_hide">
                             <i alt="show" class="fa fa-eye eye-show" 
                             (click)="showPassword = !showPassword"
                             [class.hide]="showPassword"></i>
                             <i alt="hide" class="fa fa-eye-slash eye-hide" 
                             (click)="showPassword = !showPassword"
                             [class.hide]="!showPassword"></i>
                           </div>
                         </div>
                     <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched || submitted)">
                        <small class="text-danger">
                           Password is required
                        </small>
                     </div>
                  </div>
               </div>
               <!-- <div class="form-group">
                  <div class="col-xs-12">
                     <div class="checkbox checkbox-primary">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup">
                           Remember me
                        </label>
                     </div>
                  </div>
               </div> -->
               <div class="form-group text-center m-t-40">
                  <div class="col-xs-12">
                     <button class="btn btn-primary btn-lg w-lg waves-effect waves-light rm01 mb-3 btn-h-auto" type="submit">Log
                        In</button>
                  </div>
               </div>
               <div class="form-group m-t-30">
                  <div class="col-sm-12">
                     <a routerLink="/forget-password" class="rm01"><i class="fa fa-lock m-r-5"></i> Forgot your
                        password?</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!-- include common vendor scripts used in demo pages -->
   <script type="text/javascript">
      $(document).ready(function () {
         $('#example').DataTable();
      });
   </script>
</body>

</html>