<body>
    <div class="body-container">
      <!-- <app-header></app-header> -->
       <!-- /.navbar -->
       <div class="main-container">
         <app-sidebar></app-sidebar>
          <!-- /.sidebar -->
          <div role="main" class="main-content">
             <div class="page-content container container-plus">
                <div class="row">
                   <div class="col-sm-12">
                      <h4 class="pull-left page-title">Update Threshold Limits</h4>
                      <ol class="breadcrumb pull-right pointer">
                         <li routerLink="/settings/threshold-limit"> <a><i class="fa fa-angle-double-left"></i> Back</a></li>
                      </ol>
                   </div>
                </div>
      
                <div class="row">
                   <div class="col-md-12">
                      <div class="panel panel-default">
                         <div class="panel-body">
                            <div class="row">
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="category">Product Name</label>
                                    <select class="form-control rm06" (change)="selectProduct($event)"  name="status" [(ngModel)]="editdataInfo.pro_id">
                                       <option [ngValue]="editdataInfo.pro_id" hidden>{{editdataInfo['product_title']}}</option>
                                       <option value="{{proItem.product_id}}" *ngFor="let proItem of productList">{{proItem.product_title}}</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="category">Categories</label>
                                    <select class="form-control rm06" (change)="selectCat($event)" name="status" [(ngModel)]="editdataInfo.cat_id">
                                       <option [ngValue]="editdataInfo.cat_id">{{editdataInfo['category_name']}}</option>
                                       <option value="{{catItem.category_id}}" *ngFor="let catItem of categoriList">{{catItem.category_name}}</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="category">Sub Category</label>
                                    <select class="form-control rm06"  name="status" [(ngModel)]="editdataInfo.sub_cat_id">
                                       <option [ngValue]="editdataInfo.sub_cat_id">{{editdataInfo['sub_category_name']}}</option>
                                       <option value="{{item?.sub_category_id}}" *ngFor="let item of subCategoriList">{{item?.sub_category_name}}</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="category">Sizes Offered</label>
                                     <select class="form-control rm06" name="status" [(ngModel)]="editdataInfo.size">
                                        <option value="" selected>{{editdataInfo['size']}}</option>
                                        <option value="10-50">10-50</option>
                                        <option value="10-70">10-70</option>
                                        <option value="10-100">10-100</option>
                                        <option value="10-150">10-150</option>
                                     </select>
                                  </div>
                               </div>
                               <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="">Basic Price</label>
                                     <input type="number" [(ngModel)]="editdataInfo.bpt_price" class="form-control" value="">
                                  </div>
                               </div>
                               <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="">Price Premium</label>
                                     <input type="number" placeholder="0" [(ngModel)]="editdataInfo.price_premium" id="" class="form-control" value="">
                                     
                                  </div>
                               </div>
                               <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="">Misc Expense</label>
                                     <input type="number" placeholder="0" [(ngModel)]="editdataInfo.misc_expense" id="" class="form-control" value="">
                                  </div>
                               </div>
                               <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="">Interest Rate ( % )</label>
                                     <input type="number" placeholder="0" [(ngModel)]="editdataInfo.interest_rate" id=""  class="form-control" value="">
                                  </div>
                               </div>
                               <div class="col-sm-4">
                                  <div class="form-group">
                                     <label for="">KAM Discount</label>
                                     <input type="number" placeholder="0" [(ngModel)]="editdataInfo.cam_discount" id="" class="form-control" value="">
                                  </div>
                               </div>
                               <div class="col-sm-12">
                                  <div class="mt-3">
                                     <button type="button" (click)="saveThreshold()" class="btn btn-primary btn-ser" >Submit</button>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             
             </div>
             <!-- content -->
             <footer class="footer d-none d-sm-block">
                <div class="footer-inner bgc-white-tp1">
                   <div class="pt-3 border-none border-t-3 brc-grey-l2 border-double">
                      <span class="text-grey">© 2021 Tata Steel Mining Limited. All Rights Reserved.</span>
                   </div>
                </div>
                <div class="footer-tools">
                   <a href="#" class="btn-scroll-up btn btn-dark mb-2 mr-2">
                   <i class="fa fa-angle-double-up mx-2px text-95"></i>
                   </a>
                </div>
             </footer>
             <!-- footer -->
          </div>
       </div>
    </div>
    <!-- include common vendor scripts used in demo pages -->

 </body>

