<div class="body-container">
   <app-header></app-header>
    <!-- /.navbar -->
    <div class="main-container">
       <app-sidebar></app-sidebar>
       <!-- /.sidebar -->
       <div role="main" class="main-content">
          <div class="page-content container container-plus">
             <div class="row">
                <div class="col-sm-12">
                   <h4 class="pull-left page-title">Add Sub Category</h4>
                   <ol class="breadcrumb pull-right pointer">
                      <li (click)="goBack()"> <a><i class="fa fa-angle-double-left"></i> Back</a></li>
                   </ol>
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div class="panel panel-default">
                      <div class="panel-body">
                         <div class="row">
                            <div class="col-sm-4">
                               <div class="form-group">
                                  <label for="category">Category Name</label>
                                  <input type="text" placeholder="Category Name" id="category" class="form-control" value="Chrome Ore ">
                               </div>
                            </div>
                            <div class="col-sm-4">
                               <div class="form-group">
                                  <label for="category">Sub Category</label>
                                  <input type="text" placeholder="Category Name" id="category" class="form-control" value="High Grade Chrome Ore">
                               </div>
                            </div>
                            <div class="col-sm-4">
                               <div class="form-group">
                                  <label for="search">Status</label>
                                  <select class="form-control rm06" name="status">
                                     <option value="A">Active</option>
                                     <option value="I">Inactive</option>
                                  </select>
                               </div>
                            </div>
                            <div class="col-sm-12">
                               <div class="form-group">
                                  <label for="category">Description</label>
                                  <textarea class="form-control" rows="4" placeholder="Ranked among the top-seven global chrome alloy producers, we are the leading manufacturers of High Carbon Ferro Chrome in India. We produce various grades of Ferro Chrome"></textarea>
                               </div>
                            </div>
                            <div class="col-sm-12">
                               <div class="">
                                  <button class="btn btn-primary btn-ser" type="submit">Save</button>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- content -->
          <footer class="footer d-none d-sm-block">
             <div class="footer-inner bgc-white-tp1">
                <div class="pt-3 border-none border-t-3 brc-grey-l2 border-double">
                   <span class="text-grey">© 2021 Tata Steel Mining Limited. All Rights Reserved.</span>
                </div>
             </div>
             <div class="footer-tools">
                <a href="#" class="btn-scroll-up btn btn-dark mb-2 mr-2">
                <i class="fa fa-angle-double-up mx-2px text-95"></i>
                </a>
             </div>
          </footer>
          <!-- footer -->
       </div>
    </div>
 </div>
