<body>
    <div class="body-container">
      <!-- <app-header></app-header> -->
       <!-- /.navbar -->
       <div class="main-container">
         <app-sidebar></app-sidebar>
          <!-- /.sidebar -->
          <div role="main" class="main-content">
             <div class="page-content container container-plus">
                <div class="row">
                   <div class="col-sm-12">
                      <h4 class="pull-left page-title">Set Threshold Limits</h4>
                      <ol class="breadcrumb pull-right">
                         <li class="pointer"> <a routerLink="/settings/threshold-limit"><i class="fa fa-angle-double-left"></i> Back</a></li>
                      </ol>
                   </div>
                </div>
                <form [formGroup]="setthresholdForm">
                <div class="row">
                   <div class="col-md-12">
                      <div class="panel panel-default">
                         <div class="panel-body">
                            <div class="row">
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="category">Product Name</label>
                                    <select class="form-control rm06" (change)="selectProduct($event)" formControlName="pro_id" 
                                    [ngClass]="{ 'is-invalid': submited && form['pro_id'].errors }" name="status">
                                       <option value="">--Select--</option>
                                       <option value="{{proItem.product_id}}" *ngFor="let proItem of productList">{{proItem.product_title}}</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="category">Categories</label>
                                    <select class="form-control rm06" (change)="selectCat($event)" formControlName="cat_id"
                                    [ngClass]="{ 'is-invalid': submited && form['pro_id'].errors }" name="status">
                                       <option value="">--Select--</option>
                                       <option value="{{catItem.category_id}}" *ngFor="let catItem of categoriList">{{catItem.category_name}}</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="col-sm-4">
                                 <div class="form-group">
                                    <label for="category">Sub Category</label>
                                    <select class="form-control rm06" (change)="subCategori($event)" formControlName="sub_cat_id"
                                    [ngClass]="{ 'is-invalid': submited && form['sub_cat_id'].errors }" name="status">
                                       <option value="">--Select--</option>
                                       <option value="{{item.sub_category_id}}" *ngFor="let item of subCategoriList">{{item.sub_category_name}}</option>
                                    </select>
                                 </div>
                               </div>
                               <div class="col-sm-3">
                                  <div class="form-group">
                                     <label for="category">Sizes Offered</label>
                                     <select class="form-control rm06" name="status" formControlName="size"
                                     [ngClass]="{ 'is-invalid': submited && form['size'].errors }">
                                       <option value="" selected>--Select--</option>
                                        <option value="{{size}}" *ngFor="let size of sizes['product_size']">{{size}}</option>
                                     </select>
                                  </div>
                               </div>
                               <div class="col-sm-3">
                                  <div class="form-group">
                                     <label for="">Basic Price</label>
                                     <input type="number" placeholder="" formControlName="BPT_Price"
                                     [ngClass]="{ 'is-invalid': submited && form['BPT_Price'].errors }" class="form-control" value="0">
                                  </div>
                               </div>
                               <div class="col-sm-3">
                                 
                                  <div class="form-group">
                                     <label for="">Quality Premium</label>
                                     <div class="twoFrm">
                                     <select class="form-control rm06" formControlName="Price_Premium_sing"
                                     [ngClass]="{ 'is-invalid': submited && form['Price_Premium_sing'].errors }" name="status">
                                       <option value="" selected>sel..</option>
                                       <option value="0" >0</option>
                                       <option value="+" >+</option>
                                       <option value="-" >-</option>                                       
                                     </select>
                                     <input type="number" placeholder="" formControlName="Price_Premium" id="" class="form-control" value="0">
                                  </div>
                                 </div>
                               </div>
                               <div class="col-sm-3">
                                  <div class="form-group">
                                     <label for="">Misc Expense</label>
                                     <input type="number" formControlName="Misc_Expense" [ngClass]="{ 'is-invalid': submited && form['Misc_Expense'].errors }" class="form-control" value="0">
                                  </div>
                               </div>
                               <div class="col-sm-3">
                                  <div class="form-group">
                                     <label for="">Interest Rate ( % )</label>
                                     <input type="number"  formControlName="Interest_Rate" [ngClass]="{ 'is-invalid': submited && form['Interest_Rate'].errors }" class="form-control" value="0">
                                  </div>
                               </div>
                               <div class="col-sm-3">
                                  <div class="form-group">
                                     <label for="">KAM Discount</label>
                                     <input type="number"  formControlName="CAM_Discount" [ngClass]="{ 'is-invalid': submited && form['CAM_Discount'].errors }" class="form-control" value="0">
                                  </div>
                               </div>
                               <!-- <div class="col-sm-3">
                                 <div class="form-group">
                                    <label for="">GST (%)</label>
                                    <input type="number" placeholder=""  formControlName="gst_per" id="" class="form-control" value="0">
                                 </div>
                              </div> -->
                               <div class="col-sm-12">
                                  <div class="mt-3">
                                     <button type="button" (click)="saveThreshold()" class="btn btn-primary btn-ser" >Save</button>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
               </form>
             </div>
             <!-- content -->
             <footer class="footer d-none d-sm-block">
                <div class="footer-inner bgc-white-tp1">
                   <div class="pt-3 border-none border-t-3 brc-grey-l2 border-double">
                      <span class="text-grey">© 2021 Tata Steel Mining Limited. All Rights Reserved.</span>
                   </div>
                </div>
                <div class="footer-tools">
                   <a href="#" class="btn-scroll-up btn btn-dark mb-2 mr-2">
                   <i class="fa fa-angle-double-up mx-2px text-95"></i>
                   </a>
                </div>
             </footer>
             <!-- footer -->
          </div>
       </div>
    </div>
    <!-- include common vendor scripts used in demo pages -->

 </body>
