.twoFrm {
    display: flex;
    select {
        width: 70px;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.pointer {
    cursor: pointer;
}

button.btn.btn-primary.mr-10 {
    margin-right: 10px;
}